<table class="table">
    <thead>
        <tr>
            <th>{{ 'common.fields.title' | translate }}</th>
            <th>{{ 'common.fields.description' | translate }}</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <ng-container *ngFor="let training of trainings">
            <app-owner-trainings-list-item [training]="training" (delete)="deleteTraining.emit($event)"></app-owner-trainings-list-item>
        </ng-container>
    </tbody>
</table>

<button [routerLink]="['/owner/trainings/', newTrainingTempId]">{{ 'training.newTraining' | translate }}</button>
