<h3>{{ 'lessons.lessons' | translate }}</h3>

<ng-container *ngIf="lessons && lessons[0]; then hasLessons; else hasNoLessons"></ng-container>

<ng-template #hasLessons>
    <ul>
        <ng-container *ngFor="let lesson of lessons">
            <app-owner-lessons-list-item [lesson]="lesson" (delete)="deleteLesson.emit(lesson)"></app-owner-lessons-list-item>
        </ng-container>
    </ul>
</ng-template>

<ng-template #hasNoLessons>
    <p>{{ 'lessons.thereAreNoLessons' | translate }}</p>
</ng-template>

<p>
    <a [routerLink]="['lessons', newLessonTempId]">{{ 'lessons.addALesson' | translate }}</a>
</p>
