<form class="form-signin" [formGroup]="form" (submit)="signUp()">
    <h2 class="form-signin-heading">{{ 'signUp.pleaseSignUp' | translate }}</h2>

    <div class="form-group">
        <label>{{ 'common.fields.email' | translate }}</label>
        <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': formSubmitted && form.get('email').invalid }">

        <div ngxErrors="email" class="invalid-feedback">
            <ng-container *ngIf="form.get('email').invalid">
                <div ngxError="required">
                    <small>{{ 'common.validation.required' | translate }}</small>
                </div>

                <div ngxError="minlength">
                    <small>{{ 'common.validation.minLength' | translate }}</small>
                </div>

                <div ngxError="email">
                    <small>{{ 'common.validation.email' | translate }}</small>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="form-group">
        <label>{{ 'common.fields.firstName' | translate }}</label>
        <input type="text" class="form-control" formControlName="firstName" [ngClass]="{ 'is-invalid': formSubmitted && form.get('firstName').invalid }">

        <div ngxErrors="firstName" class="invalid-feedback">
            <ng-container *ngIf="form.get('firstName').invalid">
                <div ngxError="required">
                    <small>{{ 'common.validation.required' | translate }}</small>
                </div>

                <div ngxError="minlength">
                    <small>{{ 'common.validation.minLength' | translate }}</small>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="form-group">
        <label>{{ 'common.fields.lastName' | translate }}</label>
        <input type="text" class="form-control" formControlName="lastName" [ngClass]="{ 'is-invalid': formSubmitted && form.get('lastName').invalid }">

        <div ngxErrors="lastName" class="invalid-feedback">
            <ng-container *ngIf="form.get('lastName').invalid">
                <div ngxError="required">
                    <small>{{ 'common.validation.required' | translate }}</small>
                </div>

                <div ngxError="minlength">
                    <small>{{ 'common.validation.minLength' | translate }}</small>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="form-group">
        <label>{{ 'common.fields.password' | translate }}</label>
        <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': formSubmitted && form.get('password').invalid }">

        <div ngxErrors="password" class="invalid-feedback">
            <ng-container *ngIf="form.get('password').invalid">
                <div ngxError="required">
                    <small>{{ 'common.validation.required' | translate }}</small>
                </div>

                <div ngxError="minlength">
                    <small>{{ 'common.validation.minLength' | translate }}</small>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="form-group">
        <div class="form-check" *ngFor="let type of userTypes">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" formControlName="type" [value]="type.id">
                {{ type.label | translate }}
            </label>
        </div>
    </div>

    <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="isLoading">{{ 'signUp.signUp' | translate }}</button>

    <div class="link-box">
        <a [routerLink]="['/signin']">{{ 'signUp.iWouldLikeToSignIn' | translate }}</a>
    </div>
</form>
