<form [formGroup]="form" (submit)="submitForm()">
    <div class="form-group">
        <label>{{ 'common.fields.title' | translate }}</label>
        <input type="text" class="form-control" formControlName="title" [ngClass]="{ 'is-invalid': formSubmitted && form.get('title').invalid }">

        <div ngxErrors="title" class="invalid-feedback">
            <ng-container *ngIf="form.get('title').invalid">
                <div ngxError="required">
                    <small>{{ 'common.validation.required' | translate }}</small>
                </div>

                <div ngxError="minlength">
                    <small>{{ 'common.validation.minLength' | translate }}</small>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="form-group">
        <label>{{ 'common.fields.description' | translate }}</label>
        <textarea class="form-control" formControlName="description"></textarea>
    </div>

    <div class="form-group">
        <label>{{ 'common.fields.text' | translate }}</label>
        <app-editor formControlName="text"></app-editor>
    </div>

    <button type="submit" class="btn btn-primary">{{ (isNew ? 'common.actions.create' : 'common.actions.update') | translate }}</button>
</form>
