<form class="form-signin" [formGroup]="form" (submit)="login()">
    <h2 class="form-signin-heading">{{ 'signIn.pleaseSignIn' | translate }}</h2>

    <div class="form-group">
        <label>{{ 'common.fields.email' | translate }}</label>
        <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': formSubmitted && form.get('email').invalid }">

            <div ngxErrors="email" class="invalid-feedback">
                <ng-container *ngIf="form.get('email').invalid">
                    <div ngxError="required">
                        <small>{{ 'common.validation.required' | translate }}</small>
                    </div>

                    <div ngxError="minlength">
                        <small>{{ 'common.validation.minLength' | translate }}</small>
                    </div>

                    <div ngxError="email">
                        <small>{{ 'common.validation.email' | translate }}</small>
                    </div>
                </ng-container>
            </div>
    </div>

    <div class="form-group">
        <label>{{ 'common.fields.password' | translate }}</label>
        <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': formSubmitted && form.get('password').invalid }">

        <div ngxErrors="password" class="invalid-feedback">
            <ng-container *ngIf="form.get('password').invalid">
                <div ngxError="required">
                    <small>{{ 'common.validation.required' | translate }}</small>
                </div>

                <div ngxError="minlength">
                    <small>{{ 'common.validation.minLength' | translate }}</small>
                </div>
            </ng-container>
        </div>
    </div>

    <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="isLoading">{{ 'signIn.signIn' | translate }}</button>

    <div class="link-box">
        <a [routerLink]="['/signup']">{{ 'signIn.iWouldLikeToSignUp' | translate }}</a>
    </div>
</form>
