.ql-showHtml {
    &:after {
        content: '[source]';
        outline: none;
    }
}

textarea.html-textarea {
    width: 100%;
    margin: 0;
    background: rgb(29, 29, 29);
    color: rgb(204, 204, 204);
    outline: none;
    font-family: Consolas, Menlo, Monaco, monospace;
    border: none;
}
