<quill-editor [ngModel]="model" [modules]="modules" (onContentChanged)="contentChanged($event)"></quill-editor>

<ng-container *ngIf="htmlAreaControlIsShown">
    <div class="ql-container">
        <textarea class="ql-editor html-textarea" [formControl]="htmlAreaControl"></textarea>
    </div>
</ng-container>
