<app-training-form [training]="training$ | async" (save)="save($event)"></app-training-form>

<ng-container *ngIf="training$ | async as training">
    <app-owner-lessons-list [lessons]="training.lessons" (deleteLesson)="deleteLesson($event)"></app-owner-lessons-list>
</ng-container>
