<td>{{ training.title }}</td>
<td>{{ training.description }}</td>

<td>
    <button [routerLink]="['/owner/trainings/', training.id]">{{ 'common.actions.edit' | translate }}</button>
    <button (click)="delete.emit(training)">{{ 'common.actions.delete' | translate }}</button>
</td>
